<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveCoding Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <style>
        .francis{
            background-color:red;
        }
    </style>



    <div id="app">
        <h1 v-on:click="changecouleur = !changecouleur" v-bind:class="{francis : changecouleur}">{{ title }}</h1>
    
    <ul>
        <li v-for="data in name">
            {{ data.prenom}} {{ data.age}}
        </li>
    </ul>
    
    <div v-for="data in name" > {{ data.prenom}}</div>


    </div>

   
    
<script>
    var app = new Vue({
        el:'#app',
        data:{
            title: 'Salut à toi',
            soustitre : 'Salut',
            name : [
                {prenom : 'yamina', age:'35'},
                {prenom : 'lucas', age:'30'},
                {prenom : 'laurent', age:'41'},
                {prenom : 'céleste', age:'18'},
            ],
         
            changecouleur : false,

        }
    })

  
</script>
</body>
</html>